# Предсказание атака/не атака методом Байеса

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, accuracy_score

%config IPCompleter.greedy=True

In [4]:
from sklearn.naive_bayes import GaussianNB

In [28]:
from sklearn.externals import joblib
# для сохранения обученных моделей

In [6]:
small = pd.read_csv('small', sep = '	')

In [7]:
small

,Unnamed: 0,port,port.1,enum(icmp),enum(tcp),enum(upd),string.1(ssh),string.1(dns),string.1(-),string.2,string.3,string.4
0,0,58687,123,0.0,0.0,1.0,0.0,0.0,1.0,10,14,0
1,1,1900,1900,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
2,2,32893,123,0.0,0.0,1.0,0.0,0.0,1.0,10,14,0
3,3,53395,443,0.0,1.0,0.0,0.0,0.0,0.0,10,126,0
4,4,52801,53,0.0,0.0,1.0,0.0,1.0,1.0,10,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1211508,1211508,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
1211509,1211509,51834,23,0.0,1.0,0.0,0.0,0.0,0.0,7,103,1
1211510,1211510,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
1211511,1211511,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
1211512,1211512,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0

In [8]:
small = small.drop('Unnamed: 0', axis = 1)

In [9]:
small

,port,port.1,enum(icmp),enum(tcp),enum(upd),string.1(ssh),string.1(dns),string.1(-),string.2,string.3,string.4
0,58687,123,0.0,0.0,1.0,0.0,0.0,1.0,10,14,0
1,1900,1900,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
2,32893,123,0.0,0.0,1.0,0.0,0.0,1.0,10,14,0
3,53395,443,0.0,1.0,0.0,0.0,0.0,0.0,10,126,0
4,52801,53,0.0,0.0,1.0,0.0,1.0,1.0,10,14,0
...,...,...,...,...,...,...,...,...,...,...,...
1211508,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
1211509,51834,23,0.0,1.0,0.0,0.0,0.0,0.0,7,103,1
1211510,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
1211511,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0
1211512,123,123,0.0,0.0,1.0,0.0,0.0,1.0,6,7,0

In [10]:
y = small['string.4']
x = small.drop('string.4', axis = 1)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=10, test_size=0.7)

In [13]:
grid_bayes = GaussianNB()

In [14]:
%%time
grid_bayes.fit(X_train, y_train)

Wall time: 449 ms

GaussianNB(priors=None, var_smoothing=1e-09)

In [15]:
accuracy_score(y_test, grid_bayes.predict(X_test))

0.9433011815201755

# Обучение со всеми признаками

In [16]:
big = pd.read_csv('big.csv', sep = '	')

In [17]:
big

,Unnamed: 0,day,hour,addr,port,addr.1,port.1,enum(icmp),enum(tcp),enum(upd),...,count.2,string.3,count.3,count.4,count.5,count.6,set[string](-),set[string]((empty)),string.4,string.5
0,0,298,12,6805,58687,369334,123,0.0,0.0,1.0,...,0,14,1,76,1,76,1.0,0.0,0,-
1,1,298,12,6805,1900,420753,1900,0.0,0.0,1.0,...,0,7,24,8208,0,0,1.0,0.0,0,-
2,2,298,12,6805,32893,369335,123,0.0,0.0,1.0,...,0,14,1,76,1,76,1.0,0.0,0,-
3,3,298,12,6805,53395,316235,443,0.0,1.0,0.0,...,0,126,5,212,3,144,1.0,0.0,0,-
4,4,298,12,6805,52801,292458,53,0.0,0.0,1.0,...,0,14,1,62,1,339,1.0,0.0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211508,1211508,10,21,6809,123,484566,123,0.0,0.0,1.0,...,0,7,1,76,0,0,1.0,0.0,0,-
1211509,1211509,10,20,6809,51834,509175,23,0.0,1.0,0.0,...,0,103,337,18203,362,19519,1.0,0.0,1,C&C
1211510,1211510,10,22,6809,123,611845,123,0.0,0.0,1.0,...,0,7,1,76,0,0,1.0,0.0,0,-
1211511,1211511,10,22,6809,123,646453,123,0.0,0.0,1.0,...,0,7,1,76,0,0,1.0,0.0,0,-
1211512,1211512,10,22,6809,123,611846,123,0.0,0.0,1.0,...,0,7,1,76,0,0,1.0,0.0,0,-

In [18]:
big = big.drop('Unnamed: 0', axis = 1)
big = big.drop('string.5', axis = 1)

In [19]:
big

,day,hour,addr,port,addr.1,port.1,enum(icmp),enum(tcp),enum(upd),string.1(irc),...,string.2,count.2,string.3,count.3,count.4,count.5,count.6,set[string](-),set[string]((empty)),string.4
0,298,12,6805,58687,369334,123,0.0,0.0,1.0,0.0,...,10,0,14,1,76,1,76,1.0,0.0,0
1,298,12,6805,1900,420753,1900,0.0,0.0,1.0,0.0,...,6,0,7,24,8208,0,0,1.0,0.0,0
2,298,12,6805,32893,369335,123,0.0,0.0,1.0,0.0,...,10,0,14,1,76,1,76,1.0,0.0,0
3,298,12,6805,53395,316235,443,0.0,1.0,0.0,0.0,...,10,0,126,5,212,3,144,1.0,0.0,0
4,298,12,6805,52801,292458,53,0.0,0.0,1.0,0.0,...,10,0,14,1,62,1,339,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211508,10,21,6809,123,484566,123,0.0,0.0,1.0,0.0,...,6,0,7,1,76,0,0,1.0,0.0,0
1211509,10,20,6809,51834,509175,23,0.0,1.0,0.0,0.0,...,7,0,103,337,18203,362,19519,1.0,0.0,1
1211510,10,22,6809,123,611845,123,0.0,0.0,1.0,0.0,...,6,0,7,1,76,0,0,1.0,0.0,0
1211511,10,22,6809,123,646453,123,0.0,0.0,1.0,0.0,...,6,0,7,1,76,0,0,1.0,0.0,0
1211512,10,22,6809,123,611846,123,0.0,0.0,1.0,0.0,...,6,0,7,1,76,0,0,1.0,0.0,0

In [20]:
y = big['string.4']
x = big.drop('string.4', axis = 1)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=10, test_size=0.7)

In [23]:
grid_bayes_1 = GaussianNB()

In [24]:
%%time
grid_bayes_1.fit(X_train, y_train)

Wall time: 216 ms

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
accuracy_score(y_test, grid_bayes_1.predict(X_test))

0.7547862179562767

In [29]:
joblib.dump(grid_bayes_1, 'grid_bayes.pkl')
joblib.dump(grid_bayes, 'grid_bayes_1.pkl')
# сохраняем обученные модели

['grid_bayes_1.pkl']